APP_ENV=dev
APP_DEBUG=1
APP_SECRET=Set me using the following:
    #  php -r "echo bin2hex(random_bytes(32));"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
DATABASE_URL=mysql://USER:PASSWORD@127.0.0.1:3306/premiergolfleaguetracker